/*.кнопка-главная {
    display: inline-block; 
    padding: 0px 1px; 
    background-color: #FFCA02; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    font-size: 48px; 
    line-height: 40px; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s;
    width: 214px;
    height: 55px; 
    font-family: "Boldonse", system-ui;
    text-align: center; 
    position: absolute;
    left: 827px; 
    top: 40px;
} */
   
/*.кнопка-главная:hover {
    background-color: #e6b800; 
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}*/

/*.кнопка-главная:active {
    transform: scale(0.98); 
}*/
.кнопка-правила {
    display: inline-block; 
    padding: 0px 1px; 
    background: rgba(255, 255, 255, 0);
    color: white; 
    border: 1px solid #FFCA02; 
    border-radius: 20px; 
    font-size: 48px; 
    line-height: 35px; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s;
    width: 191px;
    height: 57px; 
    font-family: "Boldonse", system-ui;
    text-align: center; 
    position: absolute;
    left: 838px; 
    top: 40px;
}
.кнопка-правила:hover {
    background-color: #e6b800; 
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
.кнопка-правила:active {
    transform: scale(0.98); 
}
.кнопка-плагины {
    display: inline-block; 
    padding: 0px 1px; 
    background: rgba(255, 255, 255, 0);
    color: white; 
    border: 1px solid #FFCA02; 
    border-radius: 20px; 
    font-size: 35px; 
    line-height: 45px; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s;
    width: 236px;
    height: 57px; 
    font-family: "Boldonse", system-ui;
    text-align: center; 
    position: absolute;
    left: 1080px; 
    top: 40px;
}
.кнопка-плагины:hover {
    background-color: #e6b800; 
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
.кнопка-плагины:active {
    transform: scale(0.98); 
}

  .кнопка-faq {
    display: inline-block; 
    padding: 0px 1px; 
    background: rgba(255, 255, 255, 0);
    color: white; 
    border: 1px solid #FFCA02; 
    border-radius: 20px; 
    font-size: 30px; 
    line-height: 55px; 
    cursor: pointer; 
    text-decoration: none; 
    transition: background-color 0.3s;
    width: 214px;
    height: 55px; 
    font-family: "Boldonse", system-ui;
    text-align: center; 
    position: absolute;
    left: 1376px; 
    top: 40px;
}
.кнопка-faq:hover {
    background-color: #e6b800; 
    transform: scale(1.02); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
.кнопка-faq:active {
    transform: scale(0.98); 
}

.головка {
    position: relative;
    transform: translate(78px, 40px);
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer;
  }
  header {
    background: url("images/задник.png") center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  
  body, header {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
  }
  